// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #ffffff;
$date-color: #1f1c3b;
$time-color: #1f1c3b;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;
  time-color: $time-color;
  date-color: $date-color;

  .date {
    color: $time-color;
  }

  .time {
    color: $time-color;
  }
}
